<div class="flex flex-row bg-white flex pv3">
  <div class="header mt2 w-100 w-60-l flex h4 ph3 b--silver">
    <h1 class="purple">Webhooks Consumer Demo: Listing Events</h1>
  </div>
</div>

<div class="flex flex-row bg-white flex ph3">
  <div class="events-list dt w-100 w-60-l">
    <div class="dt-row hover-bg-lightest-silver">
      <div class="dtc pv3 b bb b--light-gray dark-gray f5">Published At</div>
      <div class="dtc pv3 b bb b--light-gray dark-gray f5">Resource</div>
      <div class="dtc pv3 b bb b--light-gray dark-gray f5">Action</div>
      <div class="dtc pv3 b bb b--light-gray dark-gray f5">Payload</div>
    </div>
  </div>
</div>
<div class="flex flex-row pv3 ph3">
  <p>More events will appear here as they are received by the application.</p>
</div>

<script>
  $(document).ready(function(){
    var render = function(data) {
      var list = $('.events-list');

      if (list.length > 0) {
        var newListRow = $('<div>');
        newListRow.addClass('events-list-row dt-row hover-bg-lightest-silver');

        var publishedAt = $('<div>');
        publishedAt.addClass('dtc pv3 f4');
        publishedAt.text(data.payload.published_at);
        $(newListRow).append(publishedAt);

        var resource = $('<div>');
        resource.addClass('dtc pv3 f4');
        resource.text(data.payload.resource);
        $(newListRow).append(resource);

        var action = $('<div>');
        action.addClass('dtc pv3 f4');
        action.text(data.payload.action);
        $(newListRow).append(action);

        var codeBlock = $('<pre>');
        codeBlock.addClass('events-payload dtc pv3 f4')
        codeBlock.text(JSON.stringify(data.payload, null, 2));
        $(newListRow).append(codeBlock);

        $(list).append(newListRow);
      } else {
        throw "Events list not found!";
      }
    }

    $.ajax("/events").done(function(data) {
      data.forEach(function(foo) {
        render(foo)
      })

      App.events = App.cable.subscriptions.create('EventsChannel', {
        received: function(data) {
          render(data)
        }
      });
    })
  });
</script>
