<div class="flex-auto flex flex-row bg-white flex ph3">
  <div class="events-list dt w-100 w-80-l center">
    <div class="dn dt-row-ns">
      <div class="db dtc-ns pv3 pr3 pl3-ns b bb b--light-gray dark-gray f5">Published At</div>
      <div class="db dtc-ns pv3 pr3 b bb b--light-gray dark-gray f5">Resource</div>
      <div class="db dtc-ns pv3 pr3 b bb b--light-gray dark-gray f5">Action</div>
      <div class="db dtc-ns pv3 pr3 b bb b--light-gray dark-gray f5">Payload</div>
    </div>
  </div>
</div>
<div class="pv3 ph3 w-100 center">
  <p class="w-100 w-80-l center lh-copy">
    <span class="hk-button__spinner mh3">
      <i class="hk-button__spinner__dot hk-button__spinner__dot--one"></i>
      <i class="hk-button__spinner__dot hk-button__spinner__dot--two"></i>
      <i class="hk-button__spinner__dot hk-button__spinner__dot--three"></i>
    </span>
    Events will appear as they are received by the application.</p>
</div>

<script>
  $(document).ready(function(){
    var render = function(data) {
      var list = $('.events-list');

      if (list.length > 0) {
        var newListRow = $('<div>');
        newListRow.addClass('events-list-row dt-row-ns hover-bg-lightest-silver bb b--light-gray pv3 pv0-ns');

        var publishedAt = $('<div>');
        publishedAt.addClass('db dtc-ns pv1 pr3 pv3-ns pl3-ns f4');
        publishedAt.text(data.payload.published_at);
        $(newListRow).append(publishedAt);

        var resource = $('<div>');
        resource.addClass('db dtc-ns pv1 pr3 pv3-ns f4');
        resource.text(data.payload.resource);
        $(newListRow).append(resource);

        var action = $('<div>');
        action.addClass('db dtc-ns pv1 pr3 pv3-ns f4');
        action.text(data.payload.action);
        $(newListRow).append(action);

        var codeBlock = $('<pre>');
        codeBlock.addClass('events-payload db dtc-ns pv1 pr3 pv3-ns f4 lh-copy')
        codeBlock.text(JSON.stringify(data.payload, null, 2));
        $(newListRow).append(codeBlock);

        $(list).append(newListRow);
      } else {
        throw "Events list not found!";
      }
    }

    $.ajax({url: "/events", dataType: 'json'}).done(function(data) {
      data.forEach(function(foo) {
        render(foo)
      })

      App.events = App.cable.subscriptions.create('EventsChannel', {
        received: function(data) {
          render(data)
        }
      });
    })
  });
</script>
