<div class="ph3 mt4">
  <div class="dt w-100 w-80-l mw9 center">

    <section class="mb6">
      <div class="f2 mb4 lh-title">Introduction</div>
      <p class="lh-copy f4 dark-gray">In order to secure the events that your target app emits this app verifies that the currently logged in user has access to this app using Heroku authentication.  Configuring authentication is a simple two step process.</p>
    </section>
    <section class="mb6">
      <div class="f2 mb4 lh-title">Create an OAuth Client</div>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku clients:create <%= @oauth_name %> <%= @oauth_url %></div>
        <div>Creating <%= @oauth_name %>... done</div>
        <div>HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</div>
        <div>HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY</div>
      </div>
    </section>
    <section class="mb6">
      <div class="f2 mb4 lh-title">Add OAuth Client to Consumer App</div>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-gray code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <% if Rails.env.development? %>
          <div># Add HEROKU_OAUTH_ID and HEROKU_OAUTH_SECRET to .env </div>
          <div>HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX</div>
          <div>HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY</div>
          <div>AUTHORIZATION_APP=app-to-check-authorization-against</div>
          <br />
          <div># Run locally with dotenv</div>
          <div>dotenv rails s</div>
        <% else %>
          <div># Add HEROKU_OAUTH_ID and HEROKU_OAUTH_SECRET to app config</div>
          <div>heroku config:set HEROKU_OAUTH_ID=XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX HEROKU_OAUTH_SECRET=YYYYYYYY-YYYY-YYYY-YYYY-YYYYYYYYYYYY -a <%= @app %></div>
          <br />
          <div># Reload this page after the app restarts </div>
        <% end %>
      </div>
    </section>
  </div>
</div>
