<div class="ph3 mv6 pv3">
  <div class="dt w-100 w-80-l mw8 center">
    <section class="mb5 pb2">
      <div class="f3 lh-title">Log Into the App</div>
      <%= button_to "Login Now", "/auth/heroku", class: "hk-button--primary mv4", form_class: "w-100" %>
    </section>
  </div>
</div>
