<div class="flex flex-row bg-white flex pv3">
  <div class="header mt2 w-100 w-60-l flex h4 ph3 b--silver">
    <h1 class="purple">Webhooks Consumer Demo: Listing Events</h1>
  </div>
</div>

<div class="flex flex-row bg-white flex ph3">
  <div class="events-list dt w-100 w-60-l">

    <div class="events-list-header dt-row hover-bg-lightest-silver">
      <div class="fl w-third b bb b--light-gray dark-gray f5">Created at</div>
      <div class="fl w-two-thirds b bb b--light-gray dark-gray f5">Payload</div>
    </div>

    <% @events.each do |event| %>
    <div class="events-list-row dt-row hover-bg-lightest-silver">
      <div class="fl w-third pv2 mv1 pl2 f4"><%= event.created_at %></div>
      <pre class="events-payload ba b--silver br2 code lh-copy w-100 w-60-l h4 overflow-x-scroll overflow-y-scroll ph1 pv2 mv1 fl f4"><%= event.payload %></pre>
    </div>
    <% end %>
  </div>
</div>
<div class="flex flex-row pv3 ph3">
  <p>More events will appear here as they are received by the application.</p>
</div>
