<div class="ph3 mv6 pv3">
  <div class="dt w-100 w-80-l mw8 center">
    <section class="mb5 pb2 bb b--light-gray">
      <div class="f1 mb4 lh-title">Getting Started</div>
      <p class="lh-copy f4 dark-gray">
        Now you'll create a webhook using the Heroku CLI.
        The webhook will notify you whenever an app of your choice, which we'll call the &quot;Trigger App&quot;, is deployed.
        You can pick one of your existing apps for this step or create a new one using our instructions.
      </p>
    </section>
    <section class="mb5">
      <div class="f3 mb4 lh-title">1. Update the Heroku CLI</div>
      <p class="f4 dark-gray lh-copy">
        Commands for managing app webhooks are available in version heroku-cli/6.13.19 and later of the Heroku CLI.
        To ensure that you are using the latest version of the CLI, run the following command:
      </p>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-silver  code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku update</div>
      </div>
    </section>

    <div class="f5 mv4 b dark-gray">Your output should look something like this:</div>

    <section class="mb5 br1">
      <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
        <div>heroku-cli: Updating to 6.13.19-6cd27b3... 12.7 MB/12.7 MB</div>
        <div>heroku-cli: Updating CLI... already on latest version: 6.13.19-6cd27b3</div>
        <div>heroku-cli: Updating plugins... done</div>
      </div>
    </section>

    <section class="mb5">
      <div class="f3 mb4 lh-title">2. Create an app $TRIGGER_APP that we will be triggering events on</div>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-silver  code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku create -n</div>
      </div>
    </section>

    <div class="f5 mv4 b dark-gray">Your output should look something like this (note the name of the app that has been created):</div>

    <section class="mb5 br1">
      <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
        <div>Creating app... done, ⬢ $TRIGGER_APP</div>
        <div>https://$TRIGGER_APP.herokuapp.com/ | https://git.heroku.com/$TRIGGER_APP.git</div>
      </div>
    </section>

    <section class="mb5">
      <div class="f3 mb2 lh-title">3. Add a release webhook for $TRIGGER_APP</div>
      <p class="f4 dark-gray lh-copy">
        Replace $TRIGGER_APP with the name of the app that you created in the last step.
        Alternatively, you may choose to use one of your existing Heroku apps as the trigger app.
      </p>
      <% if Rails.env.development? %>
        <p class="f4 dark-gray">
          Replace $PUBLIC_HOST with the publicly addressable host of your development server
        </p>
      <% end %>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-silver  code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku webhooks:add --include api:release -l sync --url <%= @webhooks %> -s <%= @webhook_secret %> -a $TRIGGER_APP</div>
      </div>
    </section>

    <div class="f5 mv4 b dark-gray">Your output should look something like this:</div>

    <section class="mb5 br1">
      <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
        <div>Adding webhook to ⬢ $TRIGGER_APP... done</div>
      </div>
    </section>

    <section class="mb5">
      <div class="f3 mb4 lh-title">4. Trigger a release by setting a config var</div>
      <div class="code-block relative lh-copy mv3 w-100 bg-light-silver  code pa2 pl5 dark-gray ba b--silver br1 word-wrap">
        <div>heroku config:set FOO=bar -a $TRIGGER_APP</div>
      </div>
    </section>

    <div class="f5 mv4 b dark-gray">Your output should look something like this:</div>

    <section class="mb5 br1">
      <div class="lh-copy w-100 bg-black code pa2 pl4 white word-wrap br1">
        <div>Setting FOO and restarting ⬢ $TRIGGER_APP... done, v3</div>
        <div>FOO: bar</div>
      </div>
    </section>

    <section class="mb5">
      <div class="f3 mb4 lh-title">5. You should now see the webhook arrive in the Webhook Events tab. <a href="/" class="link purple">Go check it out!</a></div>
    </section>

    <section class="mt6 bt b--light-gray">
      <div class="f4 w-100 mw7 lh-copy center tc br1 pa4 mv3 dark-gray">For additional details view dev center documentation on <a href="https://devcenter.heroku.com/articles/app-webhooks-tutorial" target="_blank" class="purple">Webhooks Viewer</a></div>
    </section>
  </div>
</div>
