* {
  box-sizing: border-box;
}

.events-list {
  border-collapse: collapse;
}

.code-block:before {
  content: '$';
  display: inline-block;
  position: absolute;
  left: 15px;
}

.shadow-1 {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05) !important;
}

/*
   MALIBU Styles for exclusive use with the malibu icon system
*/

.gradient-dark-gray {
  fill: url('#gradient-dark-gray');
}

.gradient-purple {
  fill: url('#gradient-purple');
}

.gradient-red {
  fill: url('#gradient-red');
}

.gradient-orange {
  fill: url('#gradient-orange');
}

.gradient-green {
  fill: url('#gradient-green');
}

.gradient-blue {
  fill: url('#gradient-blue');
}

.pulse-1 {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.dropdown-content {
  position: absolute;
  visibility: hidden;
  top: 10px;
  right: 0;
  max-height: calc(100vH - 64px);
  width: 240px;
  opacity: 0;
  overflow: auto;
  transform: translateY(-4px);
  transition: transform ease 0.1s, opacity ease 0.1s;
}

.dropdown-is-open .dropdown-content {
  visibility: visible;
  top: 15px;
  opacity: 1;
  transform: translateY(0px);
}
